
<% provide(:title, 'All users') %>

<h1>Listing Users</h1>


<ul class="users">
  <% @user_infos.each do |user| %>
    <li>
      <%= gravatar_for user %>
      <%= link_to user.Name, user %>
    </li>
  <% end %>
</ul>

<br>
<%= link_to 'New User info', new_user_info_path %>
